/* ############## showcase styling ############## */
.showcase-area{
    height: 50vh;
    background: url("../img/header-image2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;      
}
.showcase-cantainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.6rem;
    margin: auto;
}
.main-title{
    text-transform: uppercase;
}